/* Login.css */

.login-container {
    margin: auto;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.logo {
    width: 250px;
}

.title {
    margin-bottom: 2rem;
    font-size: 50px;
}

.explain {
    font-size: 40px;
}

.input-field {
    display: block;
    width: 300px;
    padding: 0.8rem;
    margin: 0.5rem auto;
    font-size: 16px;
    border-radius: 5px;
    border: 1.5px solid rgb(137, 137, 137);
}
/* 예시 CSS */
.my-btn {
    width: 330px;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.my-btn.active {
    background-color: rgb(177, 142, 200);
    cursor: pointer;
}

.my-btn.active:hover {
    background-color: #765396;
}

.my-btn.disabled {
    background-color: #999;
    cursor: not-allowed;
}

.signup {
    margin-top: 1rem;
    font-size: 14px;
}

.link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.intro-title {
    font-size: 35px;
    font-weight: 500;
    background-color: rgb(252, 245, 226);
    display: inline-block; /* 또는 inline */
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.intro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(244, 242, 250);
    display: inline-block; /* 또는 inline */
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 5px;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(244, 242, 250);
    display: inline-block; /* 또는 inline */
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
}
.explain {
    margin-top: 10px;
    font-weight: bold;
    background-color: rgb(252, 245, 226);
    display: inline-block; /* 또는 inline */
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login > input {
    border-radius: 10px;
    border: 1.6px solid #e4e4e4;
}

.login > input:focus {
    border: 2px solid #765396;
    outline: none;
}
